@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/* Primary */

$pale-blue-primary-color: hsl(225, 100%, 94%);
$bright-blue-primary-color: hsl(245, 75%, 52%);

/* Neutral */

$very-pale-blue-secondary-color: hsl(225, 100%, 98%);
$desaturated-blue-secondary-color: hsl(224, 23%, 55%);
$dark-blue-secondary-color: hsl(223, 47%, 23%);

/* Typography */

$font-size-principal: 16px;